{% extends 'base.html' %}
{% block title %}
Записи сообщества Лев Толстой – зеркало русской революции.
{% endblock %}
{% block content %}
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">     
        <h1>Группы</h1>
        <article>

          <ul>
            <li>
              title: {{ group.title }}
            </li>
            <li>
              slug: {{ group.slug }}
            </li>
          </ul>
          <p>description {{ group.description }}</p>    
        </article>  
        
      </div>  
{% endblock %}    